@import '~perfect-scrollbar/css/perfect-scrollbar.css';

$width: 400px;
$height: 500px;

.card {
  width: $width;
  height: $height;
  padding: 0;
  margin: 15px;

  img {
      width: 100%;
      height: auto - 10%;
  }
}
