.card {
  width: 344px;
  height: 400px;
  padding: 0;
  margin: 15px;
}

.card img {
  width: 344px;
  height: 194px;
}

.title {
  padding: 0 24px 0 16px;
  width: 344px;
  height: 44px;
  position: relative;
}

.title h6 {
  font-size: 21pt;
  float: bottom;
  position: absolute;
  bottom: 0;
}

.subtitle {
  padding: 0 24px 0 16px;
  width: 344px;
  height: 44px;
  position: relative;
}

.subtitle span {
  font-size: 17pt;
  float: bottom;
  position: absolute;
  bottom: 0;
}

.description {
  padding: 0 24px 0 16px;
  width: 344px;
  height: 44px;
  position: relative;
}

.description span {
  font-size: 17pt;
  float: bottom;
  position: absolute;
  bottom: 0;
}
